html {
  font-family: "Roboto", sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.top-bar {
  background-color: #E9ECEF; }
  .top-bar .top-bar-icon li {
    list-style: none; }
    .top-bar .top-bar-icon li a {
      text-decoration: none;
      color: black; }
      .top-bar .top-bar-icon li a:hover {
        color: #BCAC76; }
  .top-bar .top-bar .dropdown-toggle {
    text-decoration: none; }

.navbar .navbar-brand {
  text-decoration: none;
  color: black; }

.navbar .collapse ul .home {
  list-style: none; }
  .navbar .collapse ul .home .nav-link {
    text-decoration: none;
    color: #868E96; }
    .navbar .collapse ul .home .nav-link:hover {
      color: black; }
  .navbar .collapse ul .home .dropdown-menu li {
    list-style: none; }
    .navbar .collapse ul .home .dropdown-menu li a {
      text-decoration: none;
      color: #868E96; }
      .navbar .collapse ul .home .dropdown-menu li a:hover {
        color: black;
        background-color: white; }
      .navbar .collapse ul .home .dropdown-menu li a span {
        border: 1px solid #F7F5EF;
        background-color: #F7F5EF;
        color: #BCAC76;
        border-radius: 4px; }

.navbar .collapse ul .shop {
  list-style: none; }
  .navbar .collapse ul .shop .nav-link {
    text-decoration: none;
    color: #868E96; }
    .navbar .collapse ul .shop .nav-link:hover {
      color: black; }
  .navbar .collapse ul .shop .dropdown-menu .row {
    width: 760px; }
    .navbar .collapse ul .shop .dropdown-menu .row a {
      text-decoration: none;
      color: #868E96;
      display: block; }
      .navbar .collapse ul .shop .dropdown-menu .row a:hover {
        color: black; }
      .navbar .collapse ul .shop .dropdown-menu .row a span {
        border: 1px solid #F7F5EF;
        background-color: #F7F5EF;
        color: #BCAC76;
        border-radius: 4px; }
    .navbar .collapse ul .shop .dropdown-menu .row img {
      width: 100%;
      height: 100%; }

.navbar .collapse ul .icons {
  list-style: none; }
  .navbar .collapse ul .icons .nav-link {
    text-decoration: none;
    color: #868E96; }
    .navbar .collapse ul .icons .nav-link:hover {
      color: black; }
  .navbar .collapse ul .icons .dropdown-menu .row {
    width: 760px; }
    .navbar .collapse ul .icons .dropdown-menu .row a {
      text-decoration: none; }
      .navbar .collapse ul .icons .dropdown-menu .row a span {
        color: black; }
      .navbar .collapse ul .icons .dropdown-menu .row a:hover span {
        text-decoration: underline; }
    .navbar .collapse ul .icons .dropdown-menu .row img {
      width: 100%;
      height: 100%; }

.navbar .collapse ul .pages .nav-link {
  text-decoration: none; }

.navbar .collapse ul .pages .dropdown-menu .dropdown-item {
  padding: 0; }

.navbar .collapse ul .pages .dropdown-menu .first ul li {
  list-style: none; }
  .navbar .collapse ul .pages .dropdown-menu .first ul li a {
    text-decoration: none;
    color: #868E96; }
    .navbar .collapse ul .pages .dropdown-menu .first ul li a:hover {
      color: black;
      background-color: white; }
    .navbar .collapse ul .pages .dropdown-menu .first ul li a span {
      border: 1px solid #F7F5EF;
      background-color: #F7F5EF;
      color: #BCAC76;
      border-radius: 4px; }

.navbar .collapse ul .pages .dropdown-menu .second li {
  list-style: none; }
  .navbar .collapse ul .pages .dropdown-menu .second li a {
    text-decoration: none;
    color: #868E96; }
    .navbar .collapse ul .pages .dropdown-menu .second li a:hover {
      color: black;
      background-color: white; }
    .navbar .collapse ul .pages .dropdown-menu .second li a span {
      border: 1px solid #F7F5EF;
      background-color: #F7F5EF;
      color: #BCAC76;
      border-radius: 4px; }

.navbar .collapse ul .pages .dropdown-menu .third li {
  list-style: none; }
  .navbar .collapse ul .pages .dropdown-menu .third li a {
    text-decoration: none;
    color: #868E96; }
    .navbar .collapse ul .pages .dropdown-menu .third li a:hover {
      color: black;
      background-color: white; }
    .navbar .collapse ul .pages .dropdown-menu .third li a span {
      border: 1px solid #F7F5EF;
      background-color: #F7F5EF;
      color: #BCAC76;
      border-radius: 4px; }

.navbar .collapse ul .pages .dropdown-menu .four li {
  list-style: none; }
  .navbar .collapse ul .pages .dropdown-menu .four li a {
    text-decoration: none;
    color: #868E96; }
    .navbar .collapse ul .pages .dropdown-menu .four li a:hover {
      color: black;
      background-color: white; }
    .navbar .collapse ul .pages .dropdown-menu .four li a span {
      border: 1px solid #F7F5EF;
      background-color: #F7F5EF;
      color: #BCAC76;
      border-radius: 4px; }

.navbar .collapse .search-btn .nav-search {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  outline: none; }

.navbar .collapse .navbar-icons li {
  list-style: none; }
  .navbar .collapse .navbar-icons li a {
    text-decoration: none;
    font-size: 27px;
    color: black; }
    .navbar .collapse .navbar-icons li a:hover {
      color: #BCAC76; }

.about h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #BCAC76; }

.about h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.about p {
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #868E96; }

.history h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #BCAC76; }

.history h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.history p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #868E96; }

.historically h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.historically p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #868E96; }

.historically h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.line {
  width: 50%;
  margin-top: .5rem;
  border-top: solid 1px #495057; }

.first-row-image {
  max-width: 100%;
  height: auto; }

.frankie p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #868E96;
  width: 80%; }

.frankie p:first-child {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32px;
  color: black;
  width: 100%;
  height: 90%;
  line-height: 50px; }

.frankie h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #BCAC76; }

.frankie .img-round {
  max-width: 100%;
  height: auto;
  border-radius: 50%; }

.frankie .franike-background {
  background-image: url("../photos/about-photo/about-first-svg.svg");
  background-repeat: no-repeat;
  background-origin: border-box;
  padding: 15px 0; }

.people h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #BCAC76; }

.people h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.people p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #868E96; }

.people h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px; }

.people .line {
  width: 6%;
  margin-top: .5rem;
  border-top: solid 1px #495057; }

.people .people-first-img {
  width: 85%;
  height: auto;
  border-radius: 50%; }

.owl {
  background-color: #F8F9FA;
  width: 100%; }
  .owl .item {
    display: flex;
    justify-content: center; }
    .owl .item img {
      width: 96px !important;
      opacity: 0.7; }

.t-shirt h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.t-shirt p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #868E96;
  width: 90%; }

.cell {
  background-color: #F8F9FA; }
  .cell h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700; }
  .cell p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #868E96; }

footer .letter {
  font-size: 30px; }

footer .form-control {
  padding-left: 0;
  transition: all .5s;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent; }

footer .btn.btn-underlined {
  transition: all .5s;
  border-top: none;
  border-right: none;
  border-bottom-color: #ced4da;
  border-left: none;
  background-color: transparent; }

footer h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black; }

footer li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #868E96; }
  footer li a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.5s; }

footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #868E96; }

footer .accardion {
  cursor: pointer; }

footer li {
  list-style: none; }

footer .accardion-plus i {
  display: none; }

@media screen and (max-width: 768px) {
  .accardion-plus {
    width: 100% !important; }
    .accardion-plus i {
      display: block !important; }
    .accardion-plus .accardion {
      display: none; } }

@media screen and (max-width: 540px) {
  .nav-icons {
    width: 100% !important; }
  .shops {
    width: 100% !important; }
    .shops .zara {
      display: none !important; } }
