@import "font";
@import "color";
html {
    font-family: $font-family;
}
*{
        padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top-bar{
    // width: 100vw;
    background-color: $index-navbar-bg-color;
    .top-bar-icon{
        li{
            list-style: none;
            a{
                text-decoration: none;
                color:$color-black;
                &:hover{
                    color:$color-gold;
                }
            }
        }
    } 
    .top-bar{
        .dropdown-toggle {
            text-decoration: none;
            // color: inherit;
        }
    }       
    
}
.navbar{
    .navbar-brand{
        text-decoration: none;
        color: $color-black;       
    }
    .collapse{
        ul{
            .home{
                list-style: none;
                .nav-link{
                    text-decoration: none;
                    color: $color-gray;
                    &:hover{
                        color: $color-black;
                    }
                }
                .dropdown-menu{
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: $color-gray;
                            &:hover{
                                color: $color-black;
                                background-color: white;
                            }
                            span{
                                border: 1px solid $span-color;
                                background-color: $span-color;
                                color: $color-gold;
                                border-radius: 4px;
                            }   
                        }
                    }
                }
            }
            .shop{
                list-style: none;
                .nav-link{
                    text-decoration: none;
                    color: $color-gray;
                    &:hover{
                        color: $color-black;
                    }
                }
                .dropdown-menu{
                    .row{
                        width: 760px;
                        a{

                            text-decoration: none;
                            color: $color-gray;
                            &:hover{
                                color: $color-black;
                            }
                            display: block;  
                            span{
                                border: 1px solid $span-color;
                                background-color: $span-color;
                                color: $color-gold;
                                border-radius: 4px;
                            }                      
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                }
            }
            .icons{
                list-style: none;
                .nav-link{
                    text-decoration: none;
                    color: $color-gray;
                    &:hover{
                        color: $color-black;
                    }
                }
                .dropdown-menu{
                    .row{
                        width: 760px;
                        a{
                            text-decoration: none; 
                            span{
                               color: $color-black;
                            }       
                            &:hover{
                                span{
                                    text-decoration: underline;
                                }
                            }               
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                }
            }
            .pages{
                .nav-link{
                    text-decoration: none;                    
                }          
                .dropdown-menu{
                    .dropdown-item{
                        padding: 0;
                    }
                    .first{
                        // img{
                             // width: 80%;
                             // height: 80%;
                        // }
                        ul{    
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    color: $color-gray;
                                    &:hover{
                                        color: $color-black;
                                        background-color: white;
                                    }
                                    span{
                                        border: 1px solid $span-color;
                                        background-color: $span-color;
                                        color: $color-gold;
                                        border-radius: 4px;
                                    }  
                                    
                                }
                            }
                        }
                    }
                    .second{
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                                color: $color-gray;
                                &:hover{
                                    color: $color-black;
                                    background-color: white;                                    
                                }
                                span{
                                    border: 1px solid $span-color;
                                    background-color: $span-color;
                                    color: $color-gold;
                                    border-radius: 4px;
                                }

                            }
                        }
                    }
                    .third{
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                                color: $color-gray;
                                &:hover{
                                    color: $color-black;
                                    background-color: white;                                    
                                }
                                span{
                                    border: 1px solid $span-color;
                                    background-color: $span-color;
                                    color: $color-gold;
                                    border-radius: 4px;
                                }

                            }
                        }
                    }
                    .four{
                        li{
                            list-style: none;
                            a{
                                text-decoration: none;
                                color: $color-gray;
                                &:hover{
                                    color: $color-black;
                                    background-color: white;                                    
                                }
                                span{
                                    border: 1px solid $span-color;
                                    background-color: $span-color;
                                    color: $color-gold;
                                    border-radius: 4px;
                                }

                            }
                        }
                    }
                   
                }                   
                 
            }
            
        }
        .search-btn{
            .nav-search{
                border-top: none;
                border-right: none;
                border-left: none;
                // border-bottom:10px;               
                background-color: transparent;
                outline: none;
            }
        }
        .navbar-icons{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    font-size: 27px;
                    color: black;
                    &:hover{
                        color: $color-gold;
                    }
                }

            }
        }
    }
}
.about{
    h6{
        font-family:$font-family;
        font-weight: 600;
        color: $color-gold;
    }
    h1{
        font-family: $font-family;
        font-weight: 900;
        // width: 100%;
    }
    p{
        width: 80%;
        font-family: $font-family;
        font-weight: 500;
        color: $color-gray;
    }
}
.history{
    h6{
        font-family:$font-family;
        font-weight: 600;
        color: $color-gold;
    }
    h2{
        font-family: $font-family;
        font-weight: 900;
    }
    p{
        // width: 80%;
        font-family: $font-family;
        font-weight: 500;
        color: $color-gray;
    }
}
.historically{
    h2{
        font-family: $font-family;
        font-weight: 900;
    }
    p{
        font-family: $font-family;
        font-weight: 500;
        color: $color-gray;
    }
    h4{
        font-family: $font-family;
        font-weight: 900;
    }
}
.line{
    width: 50%;
    margin-top: .5rem;
    border-top: solid 1px #495057;
}
.first-row-image{
    max-width: 100%;
    height: auto;
}
.frankie{
    p{        
        font-family: $font-family;
        font-weight: 500;
        color: $color-gray;  
        width: 80%;  
        
    }  
    p:first-child{
        font-family: $font-playfair;
        font-weight: 400;
        font-size: 32px;
        color: $color-black;
        width: 100%;
        height: 90%;
        line-height: 50px;
        
    }  
    h5{
        font-family: $font-family;
        font-weight: 900;
        color: $color-gold;
    }
    .img-round{
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .franike-background{
        background-image: url("../photos/about-photo/about-first-svg.svg");
        background-repeat: no-repeat;
        background-origin: border-box;
        padding: 15px 0  ;
    }

}
.people{
    h6{
        font-family:$font-family;
        font-weight: 600;
        color: $color-gold;
    }
    h2{
        font-family: $font-family;
        font-weight: 900;
    }
    p{
        font-family: $font-family;
        font-weight: 500;
        color: $color-gray;
    }
    h4{
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
    }
    .line{
        width: 6%;
        // max-width: 100%;
        // height: auto;
        margin-top: .5rem;
        border-top: solid 1px #495057;       
    }
    .people-first-img{
        width:85%;
        height: auto;
        border-radius: 50%;
    }
}
.owl{
    background-color: $background-color;
    width: 100%;
    .item{
        display: flex;
        justify-content: center;

        img{
            width: 96px !important;
            opacity: 0.7;
        }
    }
    
}
.t-shirt{
    h2{
        font-family: $font-family;
        font-weight: 900;
    }
    p{
        font-family: $font-family;
        font-weight: 500;
        color: $color-gray;
        width: 90%;
    }

}
.cell{
    background-color:$background-color;
    // height: 300px;
    h2{
        font-family: $font-family;
        font-weight: 700;
    }
    p{
        font-family: $font-family;
        font-weight: 400;
        color: $color-gray;
        // width: 90%;
    }
}

footer{  
    .letter{
        font-size: 30px;
    }
    .form-control{       
        padding-left: 0;
        transition: all .5s;
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: transparent;              
    }    
    .btn.btn-underlined {
        transition: all .5s;
        border-top: none;
        border-right: none;
        border-bottom-color: #ced4da;
        border-left: none;
        background-color: transparent;
    }
    h6{
        font-family:$font-family;
        font-weight: 600;
        color: $color-black;
    } 
    li{        
        a{
            text-decoration: none;
            font-family: $font-family;
            font-weight: 400;
            color: $color-gray;
            &:hover{
                color: black;
                text-decoration: underline;
                transition: 0.5s;
            }
           
        }
        
    }
   
    
    p{
        font-family: $font-family;
        font-weight: 400;
        color: $color-gray;
        // width: 90%;
    }
    .accardion{
        cursor: pointer;
    } 
    li{
        list-style: none;
        
    }  
    .accardion-plus{
        i{
            display: none;
        }
    }
}
@media screen and(max-width:768px){
    .accardion-plus{
        width: 100% !important;
        i{
            display: block !important;
        }
        .accardion{
            display: none;
        }
    }
}
@media screen and (max-width:540px) {   
    .nav-icons{
        width: 100% !important;
    }    
    .shops{
        width: 100% !important;
        .zara{
            display: none !important;
        }
    }
} 
