$color-gold:#BCAC76;
$color-gray:#868E96;
$color-black:black;
$background-color:#F8F9FA;
$about-backgroun-color:#E9ECEF;
$hover-color:#6e5c20;
$index-navbar-bg-color:#E9ECEF;
$span-color:#F7F5EF;
$index-background-color:#EBF7FF;